extend base.pug

block content
    video(src="/" + video.fileUrl, controls, width="600")
    div
        h1=video.title
        p=video.description
        small=video.createdAt
        br
        a(href=`/users/${video.owner._id}`)=video.owner.name
        br
    br
    if String(video.owner._id) === loggedInUser._id
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;